<!DOCTYPE html>
<!-- <html ng-app="MsgApp"> -->
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <!-- <script src="main.js"></script> -->
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Expressions and Interpolation</title>
  </head>
  <!-- week 1 changes -->
  <body ng-app="calculator">
    <h1>Expressions and Interpolation</h1>
    <div ng-controller="NameCalculatorController">
      <div>
        Your Name:
        <input type="text"
        ng-model="name"
        ng-keyup="displayNumneric();">
      </div>
      <div>Total value of person's name is: {{outputValue}}
      </div>
    </div>
    <!-- <div ng-controller='MsgController'>
      {{name}} has a message for you: <br>
      {{sayMessage()}}<br>
      {{sayLovesMessage()}}
      <div>
        <button ng-click="feedYaakov()">Feed Yaakov</button>
        <br>
        <img ng-src="images/yaakov_{{stateOfBeing}}.png">
      </div>
    </div> -->
  </body>
</html>
